html {
    color: #383333;
    font-size: 1em;
}

#active-color {
    width: 40px;
    height: 40px;
}

#grid {
    display: grid;
}

.cell {
    width: 28px;
    height: 28px;
    border: 1px solid #eeeeee;
    user-select: none;
    margin: 0.5px;
}

.row {
    display: flex;
}

#panel {
    display: grid;
    grid-template-columns: auto 1fr;
}

#actions {
    display: flex;
    margin: 5px 0;
}

.action-button {
    width: 150px;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 2px solid #8da0d4;
    border-radius: 5px;
    margin: 0 5px;
}

.action-button:hover {
    background-color: #8da0d4;
}

.action-button__active {
    background-color: #8da0d4;
}

#colors {
    display: grid;
    grid-template-columns: repeat(40, 25px);
}

#colors > div {
    height: 25px;
    border: 1px solid #eeeeee;
}